*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  position: relative;
  background-color: #fafafa;
  overflow-y: scroll;
  overflow-x: hidden;
}